{% extends 'base.html' %}

{% block car_list %}

<div >
    <div >
        <table>
            <thead>
                <tr>
                    <th>Категория</th>
                    <th>Марка</th>
                    <th>Модель</th>
                    <th>Цена</th>
                    <th>Год выпуска</th>
                    <th>Имя владельца</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_list %}
                    <tr>
                        <td> {{ car.car_cat }}</td>
                        <td>{{ car.car_marka }}</td>
                        <td>{{ car.car_model }}</td>
                        <td>{{ car.price }}</td>
                        <td>{{ car.year}}</td>
                        <td>{{ car.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="">
            <a class="button" href="{% url 'car_form' %}">Добавить автомобиль</a>
        </div>
    </div>
</div>
{% endblock %}
